# Node modules
/node_modules/

# Build output
/dist/
/out-tsc/

# IDE/Editor
.vscode/
.idea/

# Logs
*.log

# OS spezifisch
.DS_Store
Thumbs.db

# Angular cache
.angular/

# Environment files
.env
src/environments/environment*.ts
