@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.chapter-list-container {
  @include content-container;
  position: relative;
  padding-top: 4rem;

  .header {
    position: relative;
    margin-bottom: $spacing-xxl;

    .back-link {
      @include back-link;
    }

    h1 {
      @include heading('h2');
      color: $text-primary;
      text-align: center;
    }
  }
}
